---
// github项目显示
import ScrambleText from './ScrambleText';

const modules = import.meta.glob('@/mocks/**/*.json');
const { name, class: className } = Astro.props;
if (!name) throw new Error('项目名称不能为空')

const path = `/src/mocks/${name}.json`;
let data = (await modules[path]() as any).default
if (import.meta.env.MODE !== 'development') {
  const response = await fetch(`https://api.github.com/repos/${name}`)
  data = await response.json()
}
const colorMap = {
  "JavaScript": "#f1e05a",
  "TypeScript": "#3178c6",
  "Python": "#3572A5",
  "HTML": "#e34c26",
  "CSS": "#563d7c",
  "C++": "#f34b7d",
  "Java": "#b07219",
  "Astro": "#ff5a03",
  "Rust": "#dea584",
  "Go": "#00ADD8"
}
const langColor = colorMap[data.language as 'Python'] || 'yellow';
---
<div class:list={[
  "w-full flex flex-col border rounded-sm border-[#d1d9e0]",
  "p-3 lg:p-6",
  className
]}>
  <div class="inline-flex items-center">
    <span class="icon-[ix--project-server] align-text-bottom inline-block mr-2" />
    <span class="mr-2 text-[#77bbff] truncate">
      <a href={data.html_url}>
			  <ScrambleText
				  client:load
          text={data.full_name}
        />
      </a>
    </span>
    <span class="text-inline-flex items-center justify-center rounded-md border px-2 py-0.5 text-xs font-medium w-fit whitespace-nowrap shrink-0 [&>svg]:size-3 gap-1 [&>svg]:pointer-events-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive transition-[color,box-shadow] overflow-hidden [a&]:hover:bg-accent [a&]:hover:text-accent-foreground text-inherit border-inherit">Public</span>
  </div>
  <div class="my-2 grow">
    {data.description}
  </div>
  <div class="flex flex-row">
    <div>
      <span
        class={`inline-block w-[12px] h-[12px] rounded-[50%]`}
        style={{'background-color': langColor}}
      ></span>
      <span>{data.language}</span>
    </div>
    <div class="mx-3">
      <span class="icon-[iconamoon--star-light] inline-block" />
      <span>{data.stargazers_count}</span>
    </div>
    <div>
      <span class="icon-[icon-park-solid--fork] inline-block" />
      <span>{data.forks}</span>
    </div>
  </div>
</div>

